/*fuentes*/
$fontTitleSize: 35px;
$fontTitleColor: #664596;

/*header*/
$backgroundColorHeader: #664596;
$heightHeader: 70px;
$widthHeader: 100%;
$sizeHome: 25%;
$sizeBurger: 25%;
$widthPhoneHeader: 50%;
$fontSizeHeader: 12px;

$colorPhoneHeader: #ECEDD0;

$heightMenu: 60%;
$widthMenu: 40%;



/*Popup*/
$backgroundColorPopupContenedor: #664596;
$colorPopupContenedor:#FFA93B;
$backgroundColorPopupClose: #FFA93B;

/*social media*/
$socialHeight: 0px;
$socialWidth: 50px;
$socialBackgroundSize: 40px 40px;
$socialPaddingTop: 40px;



/*survey*/
$marginSurvey: 20px;
$fontSizeSurvey: 15px;

/*footer*/
$backgroundColorFooter: #403F3D;
$heightFooter: 150px;
$widthFooter: 100%;
$textColorFooter: #ECEDD0;
$textSizeFooter: 15px;

/*home*/
$backgroundColorHome:  #ECEDD0;
$backgroundColorButtonHome: #2AB24A;
$heightButtonHome: 40px;
$widthButtonHome: 100px;
$fontSizeButton: 15px;
$fontPhraseHome: 'Lilita One', cursive;
$fontSizePhraseHome: 30px;

$marginBoxHome: 30px;

/*contenedor consejos*/
$tipsMarginBox: 5px;
$tipsBorderBox: 4px double #664596;
$tipsPaddingBox: 5px;

/*SIze mask resources*/
$maskSizeWidth: 300px;
$maskSizeHeidth: 200px;
