/*fuentes*/
$fontTitleSize: 20px;

$backgroundColorHeader: #28CC4F;
$heightHeader: 100px;
$widthHeader: 100vh;

$backgroundColorHeader: pink;


$backgroundColorPopupContenedor: #664596;
$colorPopupContenedor:#FFA93B;
$backgroundColorPopupClose: #FFA93B;

/*social media*/
$socialHeight: 0px;
$socialWidth: 50px;
$socialBackgroundSize: 40px 40px;
$socialPaddingTop: 40px;

/*contenedor consejos*/
$tipsMarginBox: 5px;
$tipsBorderBox: 4px double #664596;
$tipsPaddingBox: 5px;
