/*fuentes*/
$fontTitleSize: 20px;

/*header*/
$backgroundColorHeader: #664596;
$heightHeader: 70px;
$widthHeader: 100vh;
$sizeHome: 30px;
$sizeBurger: 30px;


$backgroundColorPopupContenedor: #664596;
$colorPopupContenedor:#FFA93B;
$backgroundColorPopupClose: #FFA93B;

/*social media*/
$socialHeight: 0px;
$socialWidth: 50px;
$socialBackgroundSize: 40px 40px;
$socialPaddingTop: 40px;
