
.body {
	background-color: $backgroundColorHome;
}
.main-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
}

.flex1, .flex2, .flex3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: $marginBoxHome;
}


.link--recources, .link--tips, .link--statistics, .link--survey, .link--game {
	background-color: rgb(182, 252, 159);
	height: $heightButtonHome;
	width: $widthButtonHome;
	font-size: $fontSizeButton;
	text-align: center;
	text-decoration: none;
}


.box--phrase {
	font-family: $fontPhraseHome;
	font-size: $fontSizePhraseHome;
	margin: $marginBoxHome;
	color: $fontTitleColor;
	text-align: center;
}

.box--sendemail {
	margin: $marginBoxHome;
	margin-top: 50px;
	text-align: left;
}

@media all and (min-width:768px) {
	.flex1 {
		margin-top: 70px;
	}
}
