// FAKE STYLES_____________________________________________________
.page-quiz {
	background-color: grey;
}

.instructions-initial-pop-up {
	background-color: pink;
}

.button--quiz {
	background-color: tomato;
}

.phrase-box {
	background-color: yellow;
}
// .healthy-love-box,
// .toxic-love-box,
// .healthy-love-img
// .toxic-love-img {
// 	padding-left: 0px;
// 	padding-right: 0px
// }
____________________________________________________________________
