.section--statistics{
	margin-bottom: 100px;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.title--question {
	text-align: center;
}

.wrapper--question{
	display: none;
	-webkit-box-shadow: 6px 0px 39px -5px rgba(0,0,0,0.41);
	-moz-box-shadow: 6px 0px 39px -5px rgba(0,0,0,0.41);
	box-shadow: 6px 0px 39px -5px rgba(0,0,0,0.41);
}

.wrapper--answer{
	-webkit-box-shadow: 6px 0px 39px -5px rgba(0,0,0,0.41);
	-moz-box-shadow: 6px 0px 39px -5px rgba(0,0,0,0.41);
	box-shadow: 6px 0px 39px -5px rgba(0,0,0,0.41);
}
