.general--wrapper {
	padding-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.bloque-survey {
	background-color: $backgroundColorHome;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	text-align: left;
}

.title-survey {
	text-transform: none;
}

.p-survey {
	text-align: left;
}

.logo-survey {
	max-width: 300px;
	padding: 20px;
}

@media all and (min-width:500px){
	.bloque-survey{
		padding-top: 100px;
		padding-bottom: 80px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.general--wrapper{
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media all and (min-width:768px){
	.bloque-survey{
		padding-bottom: 100px;
		padding-left: 80px;
		padding-right: 80px;
	}
}

@media all and (min-width:1280px){
	.general--wrapper{
		padding-top: 150px;
		padding-left: 50px;
		padding-right: 50px;
	}
}
