.wrapper--tips{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}
.page-tips{
	background-color: #ecedd0;
}
// .tips {
// 	padding: 30px;
// }

.image--tips{
	max-width: 99%;
	max-height: 99%;
}
