.footer {
	background-color: $backgroundColorFooter;
	width: $widthFooter;
	color: $textColorFooter;
	position: fixed;
	bottom: 0;
}


.flex-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	padding-top: 20px;
}

.footer-nav {
	list-style-type: none;
	padding-left: 10px;
}

.footer-phone, .contact-phones {
 list-style-type: none;
 padding-right: 10px;
 padding-left: 0;
}

.contact-phones {
	font-weight: bold;
}

.footer-nav-link {
	color: $textColorFooter;
}

.footer a {
	text-decoration: none;
}

.copyright {
	text-align: center;
	padding-bottom: 20px;
}



@media all and (min-width:768px){
	.flex-footer{
		padding: 20px;
	}
}

@media all and (min-width:1280){
	.flex-footer{
		max-width: 1000px;
		padding: 20px;
	}
}
