
.footer {
	background-color: $backgroundColorFooter;
	width: $widthFooter;
	color: $textColorFooter;
	padding: 10px;
	padding-bottom: 20px;
}

.col-12 {
	position: fixed;
}

.flex-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-nav {
	list-style-type: none;
	padding-left: 10px;
}

.footer-phone, .contact-phones {
 list-style-type: none;
 padding-right: 10px;
 padding-left: 0;
}

.contact-phones {
	font-weight: bold;
}

.footer-nav-link {
	color: $textColorFooter;
}

.footer a {
	text-decoration: none;
}

.copyright {
	text-align: center;
}
