.button {
	background-color: #2AB24A;
	color: white;
	padding: 6px 12px;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 8px;
}

.button:hover {
	background-color: #23923D;
	font-weight: bold;
}

// botones home
.button-home{
	height: 40px;
	width: 100px;
	background-color: rgb(182, 252, 159);
	border-color: 1px solid #403F3D;
}
.button-tips {
	border-radius: 100px 100px 100px 0px;
	-moz-border-radius: 100px 100px 100px 0px;
	-webkit-border-radius: 100px 100px 100px 0px;
	border: 0px solid #000000;
	box-shadow: 4px -2px 6px 0px rgba(0,0,0,0.3);
}

.button-resources {
	border-radius: 100px 100px 0px 100px;
	-moz-border-radius: 100px 100px 0px 100px;
	-webkit-border-radius: 100px 100px 0px 100px;
	border: 0px solid #000000;
	box-shadow: -4px -3px 6px 0px rgba(0,0,0,0.3);
}

.button-statistics, .button-game {
	border-radius: 100px 0px 100px 100px;
	-moz-border-radius: 100px 0px 100px 100px;
	-webkit-border-radius: 100px 0px 100px 100px;
	border: 0px solid #000000;
	box-shadow: -4px 3px 6px 0px rgba(0,0,0,0.3);
}

.button-survey {
	border-radius: 0px 100px 100px 100px;
	-moz-border-radius: 0px 100px 100px 100px;
	-webkit-border-radius: 0px 100px 100px 100px;
	border: 0px solid #000000;
	box-shadow: 4px 3px 6px 0px rgba(0,0,0,0.3);
}

.button-home:hover{
	background-color: rgb(182, 252, 159);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}


// efecto transition burger
#button-menu {
	cursor: pointer; padding: 10px 35px 16px 0px;
	// width: $sizeBurger;
	height: $sizeBurger;
	margin-left: 20px;
	margin-right: 20px;
	z-index: 1;
}

#button-menu span, #button-menu span:before, #button-menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: $colorPhoneHeader;
  position: absolute;
  display: block;
  content: '';
}

#button-menu span:before {
  top: -10px;
}

#button-menu span:after {
  bottom: -10px;
}

#button-menu span, #button-menu span:before, #button-menu span:after {
  transition: all 500ms ease-in-out;
}

#button-menu.active span {
  background-color: transparent;
}

#button-menu.active span:before, #button-menu.active span:after {
  top: 0;
}

#button-menu.active span:before {
  transform: rotate(45deg);
}

#button-menu.active span:after {
  transform: rotate(-45deg);
}
#arriba {
	 width: 5px;
	 padding: 5px;
	 position: fixed;
	 bottom: 15px;
	 right: 45px;
	 z-index: 1;
	 opacity: 0.9;
}
#arriba img{
	width: 30px;
	height: 30px;
}
